.about-header {
	width: 100%;
	min-height: 70vh;
	background-image: url(/AboutPage/About-Header.jpg);
	background-size: cover;
	background-position: center;
	margin-top: -10vh;
	position: relative;
	z-index: -1;
}

.description {
  margin-top: 2vh;
  height: 3vh;
  width: 50%;
  font-family: "elza", sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
	
}



